<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="71b6fc5f-000e-485c-9aae-8e1a860c2b7f" Publisher="CN=Johnny" Version="1.0.0.2" />
  <mp:PhoneIdentity PhoneProductId="71b6fc5f-000e-485c-9aae-8e1a860c2b7f" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>RSSAgregator.WindowsPhone</DisplayName>
    <PublisherDisplayName>Johnny M. Ferreira</PublisherDisplayName>
    <Logo>Assets\rss50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="RSSAgregator.WindowsPhone.App">
      <m3:VisualElements DisplayName="RSS Agregator" Square150x150Logo="Assets\rss150.png" Square44x44Logo="Assets\rss44.png" Description="RSS Reader for Windows Phone" ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Square71x71Logo="Assets\rss71.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>